<?xml version='1.0' encoding='utf-8'?>
<widget id="com.{ projectName }.app" version="0.0.1"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>{ projectName }</name>
    <content src="index.html" />
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000052" />
    <preference name="HeaderColor" value="#000052" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="orientation" value="portrait" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="30" />
        <preference name="android-targetSdkVersion" value="30" />
    </platform>
    <platform name="ios">
    </platform>
</widget>

