<div class="mdl-grid border">
    <div class="mdl-cell mdl-cell--12-col mdl-list__item">
        <span class=" mdl-list__item-primary-content">
            <span class="mdl-color-text--grey-50 mdl-typography--headline">
                ${materia.name}
            </span>
        </span>
        <span class="mdl-list__item-secondary-action mdl-color-text--grey-50" onclick="back()">
            <i class="material-icons pointer">arrow_back</i>
        </span>
    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--10-col">

        <ul class="mdl-list">
            <li class="mdl-list__item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input onblur="onDescriptionBlur(this)" class="mdl-color-text--grey-50 mdl-textfield__input"
                        value="${materia.description}" required maxlength="16" id="description">
                    <label class="mdl-textfield__label" for="description">Description</label>
                </div>
            </li>
        </ul>

        <ul class="mdl-list">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content mdl-typography--title mdl-color-text--grey-50">
                    Type
                </span>
                <span class="mdl-list__item-secondary-action">
                    ${ ["magic", "independent", "support", "command", "summon"].map((item) => `
                    <i class="pointer material-icons ${item} ${materia.type != item ? 'disabled' : ''}"
                        onclick="onTypeClick('` + item + `')">fiber_manual_record</i>
                    `).join(``)}
                </span>
            </li>
        </ul>

        <ul class="mdl-list">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content mdl-typography--title mdl-color-text--grey-50">
                    Level
                </span>
                <span class="mdl-list__item-secondary-action">
                    ${ Array(5).join(0).split(0).map((item, key) =>
                    key < materia.level ? ` <i class="pointer material-icons ${materia.type}"
                        onclick="onStarClick(` + (key + 1) + `)">star</i>
                        ` : ` <i class="pointer material-icons ${materia.type}"
                            onclick="onStarClick(` + (key + 1) + `)">star_border</i>
                        `).join(``)}
                </span>
            </li>
        </ul>

    </div>
</div>