<div class="mdl-list__item"">
${materia ? `
    <span class=" mdl-list__item-primary-content">
    <span class="mdl-color-text--grey-50 mdl-typography--headline">
        ${materia.description}
    </span>
    </span>
    <span class="mdl-list__item-secondary-action mdl-color-text--grey-50" onclick="navigate()">
        <i class="material-icons ">create</i>
    </span>
    `: `
    <span class=" mdl-list__item-primary-content">
        <span class="mdl-color-text--grey-50 mdl-typography--headline">
            Select a materia
        </span>
    </span>
    `}
</div>