<?xml version='1.0' encoding='utf-8'?>
<widget id="com.babelskeleton.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>
        Babel skeleton
    </name>
    <description>
        Build modern JavaScript with productive environment
    </description>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000052" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="orientation" value="portrait" />
    <platform name="android">
        <access origin="*" />
        <allow-intent href="http://*/*" />
        <allow-intent href="https://*/*" />
        <allow-intent href="geo:*" />
        <allow-navigation href="*" />
    </platform>
    <plugin name="cordova-plugin-device" spec="^1.1.7" />
    <plugin name="cordova-plugin-globalization" spec="^1.0.9" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.2" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.4" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <engine name="android" spec="^6.3.0" />
</widget>
