<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--transparent mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Babel skeleton</span>
      <div class="mdl-layout-spacer"></div>

      <navigation></navigation>

    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Babel skeleton</span>

    <navigation></navigation>

  </div>
  <main class="mdl-layout__content">

    <router></router>

  </main>
</div>