<ul class="mdl-list">
    <li class="mdl-list__item">
        ${materia ? `
        <span class="mdl-list__item-primary-content mdl-typography--title">
            <i class="material-icons mdl-list__item-icon ${materia.type}">fiber_manual_record</i>
            <span class="mdl-color-text--grey-50">${materia.name}</span>
        </span>
        <span class="mdl-list__item-secondary-action">
            ${ Array(materia.level).join(0).split(0).map(item => `
            <i class="material-icons  ${materia.type}">star</i>
            `).join(``)}
        </span>
        ` : `
        <span class="mdl-list__item-primary-content mdl-typography--title">
            <span class="mdl-color-text--grey-50">No materia selected</span>
        </span>
        `}
    </li>
</ul>