<div class="mdl-grid border">
    <div class="mdl-cell mdl-cell--12-col">

        <materia-description></materia-description>

    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--6-col">

        <materia-preview></materia-preview>

    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <ul class="mdl-list mdl-color-text--grey-50">

            ${ materias.map(item => `
            <li class="pointer mdl-list__item ${materia == item ? 'border' : ''}" onclick="onClick(` + item.id + `)">
                <span class="mdl-list__item-primary-content mdl-typography--title">
                    <i class="material-icons mdl-list__item-icon ${item.type}">fiber_manual_record</i>
                    <span class="mdl-color-text--grey-50">${item.name}</span>
                </span>
            </li>
            `).join(``)}

        </ul>
    </div>
</div>