<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-color-text--grey-800 mdl-cell mdl-cell--10-col">
        <h2 class="mdl-typography--display-2">

            <materia-description></materia-description>

        </h2>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="mdl-cell mdl-cell--5-col">

                <materia-preview></materia-preview>

            </div>
            <div class="mdl-cell mdl-cell--5-col">

                ${ materias.map((materia) => `
                <div onclick="select(` + materia.id + `)">
                    <i class="material-icons">fiber_manual_record</i>
                    ${materia.name}
                </div>
                `).join(``)}

            </div>
        </div>
    </div>
</div>