materias {
    .border {
        border-style: ridge;
        border-color: #fafafa;
        border-width: 2px;
        border-radius: 4px;
    }

    .mdl-list__item {
        min-height: 2em;
        padding-top: 0em;
        padding-bottom: 0em;
    }

    .pointer {
        cursor: pointer;
    }

    .magic {
        color: #409040 !important;
    }

    .command {
        color: #b8b838 !important;
    }

    .summon {
        color: #b03131 !important;
    }

    .support {
        color: #7071b1 !important;
    }

    .independent {
        color: #b041b0 !important;
    }
}